// Variables

//colors
$top-div: #ffffff; //top div bg
$inner-title-bar: #000000; //inner text bar
$bottom-bg: #8F8F8F;// bottom div plus text and bg pic
$outer-title: #5529A3;//vertical title
$inner-text: #ffffff;
$accordion-glow: #7B53ED;//glow divider
$outer-text: #ffffff;
$background-accord: #C4C4C4;

//Font Stacks
$josefin-sans: 'Josefin Sans', sans-serif;

h1, h4 {
	font-family: $josefin-sans;
	font-weight: 400;
}

p{
	font-family: $josefin-sans;
	font-weight: 100;
}

