// Variables

//colors
$color_celeste_approx: #ffffff;
$color_disco_approx: #fd1877;
$color_mine_shaft_approx: #e5cb97;
$color_gallery_approx: #2036cb;//blue
$color_gallery: #7fafec;
$color_mountain_mist_approx: #b8860b;
$outer-text: #adff2f;

//Font Stacks
$josefin-sans: 'Josefin Sans', sans-serif;

h1, h4 {
	font-family: $josefin-sans;
	font-weight: 400;
}

p{
	font-family: $josefin-sans;
	font-weight: 100;
}

