//@extend-elements
//original selectors
//html, body

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700);

.box{
  padding-bottom: 2em;
   text-align: center;
}

.box2{
  padding: 2em;
   text-align: center;
    background-color: $bottom-bg;
}

h1{
  font-size: 30px;
  color: $bottom-bg;
  text-align: center;
  font-family: $josefin-sans;
}

li,p {
  font-size: 20px;
  color: $bottom-bg;
  text-align: center;
  font-family: $josefin-sans;

}
.logo{
  width: 30%
}

%extend_1 {
  margin: 0;
  padding: 0;
  background: $top-div;
}

//original selectors
//ul.acordeon li a, ul.acordeon li img
%extend_2 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 0;
  padding: 0;
  background: $bottom-bg;
}


html {
  @extend %extend_1;
}
body {
  @extend %extend_1;
}
@media only screen and (max-width: 600px){
  ul.acordeon li h4 {
    font-size: 8px;
    letter-spacing: 1px;
  }
}

ul.acordeon {
  width: 100%;
  overflow: hidden;
  padding: 0;
  background-color: $background-accord;
  text-align: center;
  list-style: none;
  font-size: 0;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
 
  * {
    //font-family: 
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .8s ease-in-out;
  }
  li {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 4;
    width: 5%;
    height: 0;
    padding-bottom: 30%;
    background: $outer-title;
    text-align: center;
    font-family:  $josefin-sans; 
    font-weight: 300; 
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: -1px 0 1px $accordion-glow;
    h4 {
      position: relative;
      top: 5%;
      z-index: 1;
      margin: 0;
      font-size: 7.5px;
      text-align: center;
      text-transform: uppercase;
      //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(90deg);
      //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
      transform-origin: 10% 120%;
      white-space: nowrap;
      color: $outer-text;
      letter-spacing: 3px;
    }
    a {
      @extend %extend_2;
    }
    img {
      @extend %extend_2;
    }
    &:hover {
      width: 50%;
      background: $bottom-bg;
      h4 {
        padding-left: 10px;
        background: $inner-title-bar;
        color: $inner-text;
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: none;
      }
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}